.places__url {
  text-decoration: none;
  color: #fff;
  font-size: 1.125rem;
  border-bottom: 1px solid #fff;
  line-height: 1rem;
}

@media screen and (max-width: 768px) {
  .places__url {
    font-size: 2.35vw;
  }
}

@media screen and (max-width: 320px) {
  .places__url {
    font-size: 5.55vw;
  }
}
