.places__title {
  font-size: 4.5rem;
  line-height: 4.75rem;
  margin: 3.875rem 0 3.025rem;
  grid-row: 1;
  grid-column: 1;
}

@media screen and (max-width: 1024px) {
  .places__title {
    margin: 3.3125rem 0 3.025rem;
  }
}

@media screen and (max-width: 768px) {
  .places__title {
    word-spacing: 2rem;
    font-size: 5.5vw;
    line-height: 5.85vw;
    margin: 0 0 3rem;
  }
}

@media screen and (max-width: 320px) {
  .places__title {
    word-spacing: normal;
    font-size: 2rem;
    line-height: 2.1875rem;
    margin: 0 1rem 2rem;
  }
}
