.lead {
  max-width: 984px;
  margin: 2.5rem auto;
}

@media screen and (max-width: 1024px) {
  .lead {
    width: 90.75%;
    margin: 2rem auto;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
  }
}
