.cover__subtitle {
  max-width: 22.5rem;
  margin: 0 auto 15.25rem;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.375rem;
  grid-row: 1;
  grid-column: 1;
  align-self: flex-end;
  z-index: 3;
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    margin: 12.125rem auto;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    margin: 7.125rem auto;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 0.875rem;
    line-height: 1rem;
    margin: 0 2rem 2.375rem;
  }
}
