.header__page-lang {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(2, min-content);
  grid-column-gap: 1.125rem;
  padding-top: 0.875rem;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .header__page-lang {
    padding-top: 0;
  }
}
