.cover__title {
  text-align: center;
  font-size: 4.5rem;
  line-height: 4.75rem;
  max-width: 35rem;
  grid-row: 1;
  grid-column: 1;
  z-index: 3;
  margin: 15.25rem auto 0;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    /* margin: 12.125rem auto 0; */
    margin: 19vw auto 0;
    font-size: 7vw;
    line-height: 7.5vw;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    margin: 15vw auto 0;
    font-size: 9.5vw;
    line-height: 9.55vw;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    margin: 2rem 2.125rem 0;
    font-size: 2rem;
    line-height: 2.1875rem;
  }
}
