.intro__title {
  margin: 5.75rem auto 2.375rem;
  font-size: 3.375rem;
}

@media screen and (max-width: 768px) {
  .intro__title {
    margin: 5.5rem auto 2.375rem;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 2rem;
    margin: 4.125rem auto 2.375rem;
  }
}
